@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.header {
  background-color: black; }

.nav-item a:hover {
  color: red !important;
  transform: translateY(-10px);
  transition: 1s; }

.header__navegacion span {
  display: none; }

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

a {
  text-decoration: none; }

body {
  font-family: 'Roboto', sans-serif; }

main {
  background-image: linear-gradient(black, #626262, black); }

iframe {
  width: 100%;
  height: 300px; }

footer h5 {
  display: inline-block;
  padding-right: 30px; }

.whatsapp {
  position: fixed;
  bottom: 30px;
  right: 30px; }

.footer {
  background-color: black;
  padding: 10px;
  padding-top: 40px;
  color: white; }
  .footer__rrss .rs-whatsapp {
    color: white;
    font-size: 35px;
    transition: 0.3s all; }
    .footer__rrss .rs-whatsapp:hover {
      color: #00b424; }
  .footer__rrss .rs-instagram {
    color: white;
    font-size: 35px;
    transition: 0.3s all; }
    .footer__rrss .rs-instagram:hover {
      color: #ff099d; }
  .footer__rrss .rs-linkedin {
    color: white;
    font-size: 35px;
    transition: 0.3s all; }
    .footer__rrss .rs-linkedin:hover {
      color: #177cff; }

.titulos, .portfolio__titulo, .socios__titulo, .titulo, .contacto__titulo {
  color: white;
  font-size: 40px; }

.caratula {
  display: block;
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
  object-fit: cover;
  margin: 0;
  outline: none;
  position: relative; }
  .caratula__texto {
    color: black;
    position: absolute;
    top: 200px;
    left: 50px; }

.portada {
  margin: 50px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center; }

.intro {
  color: white;
  padding: 10px; }
  .intro__titulo {
    font-size: 45px; }
  .intro__texto {
    font-size: 20px;
    line-height: 2; }

.obras {
  max-width: 1200px;
  margin: 0 auto;
  gap: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); }
  .obras__tarjeta {
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    width: 300px;
    box-shadow: 0 25px 50px -12px black;
    position: relative; }

.tarjeta__imagen {
  height: 300px;
  width: 100%;
  border-radius: 20px; }

.tarjeta a {
  text-align: center; }

.tarjeta__info {
  padding: 10px;
  color: white;
  background-color: rgba(255, 255, 255, 0.3);
  border: solid 2px;
  border-radius: 10px;
  position: absolute;
  bottom: 20px;
  right: 15px; }

.tarjeta__nombre {
  margin: 10px;
  color: white;
  position: absolute;
  bottom: 15px; }

@media (max-width: 1000px) {
  .portada {
    grid-template-columns: 1fr; }
  .obras {
    grid-template-columns: 1fr;
    justify-items: center; } }

.obras__tarjeta__foto {
  margin-top: 15px;
  margin-bottom: 15px; }

figure {
  height: 500px;
  padding: 0 !important;
  margin: 0;
  overflow: hidden; }

.card-img {
  height: 500px;
  transition: all 3s linear; }

.card-img:hover {
  transform: scale(1.3); }

.card-text-background {
  position: relative; }

.card-title {
  position: absolute;
  bottom: 60px;
  left: 30px; }

.card-text {
  position: absolute;
  bottom: 30px;
  left: 30px; }

.card__picture {
  display: flex;
  justify-content: center;
  align-items: center; }
  .card__picture img {
    height: auto; }

.card-title-socios {
  color: red; }

.card-body-socios {
  display: flex; }

.tecnologias__logo {
  padding: 30px;
  height: 200px;
  width: 220px; }

.btn {
  position: absolute;
  bottom: 30px;
  right: 30px; }

.servicios {
  padding: 10px; }

.titulo {
  margin-bottom: 40px;
  margin-left: 30px; }

.servicios__tarjeta {
  background-color: #383838;
  border-radius: 10px;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  width: auto; }
  .servicios__tarjeta h2 {
    color: white;
    font-size: 30px;
    margin-top: 20px; }
  .servicios__tarjeta h3 {
    color: red;
    font-size: 20px;
    margin-top: 10px;
    padding-bottom: 10px; }
  .servicios__tarjeta p {
    color: white;
    font-size: large; }
  .servicios__tarjeta-img {
    size-adjust: 100%; }

.servicios__tarjeta-izq {
  width: 100%; }

.servicios__tarjeta-der {
  width: 100%; }

@media (max-width: 1000px) {
  .servicios__tarjeta {
    grid-template-columns: 1fr; } }

@media (max-width: 425px) {
  .servicios__tarjeta {
    grid-template-columns: 1fr; }
  .servicios__tarjeta-img {
    width: 100%;
    height: 200px; } }

@media (max-width: 600px) {
  .header__navegacion-lista {
    display: none; }
  .header__navegacion span {
    display: inline-block;
    padding-right: 30px;
    padding-top: 30px; } }

.contacto {
  height: 650px;
  padding: 10px; }
  .contacto__form {
    display: inline-block; }
  .contacto__mapa {
    display: inline-block;
    padding: 20px;
    height: auto; }

.contacto__mapa {
  display: inline-block;
  padding: 20px;
  height: auto; }

.contacto__form input,
.contacto__form label,
.contacto__form button {
  display: block; }

.contacto__campos {
  width: auto; }

.contacto__form button {
  color: white;
  padding: 10px;
  background-color: red;
  border: none;
  border-radius: 5px; }
  .contacto__form button:hover {
    color: red;
    background-color: white;
    transition: 0.3PL s; }
