.socios__titulo {
    @extend .titulos;
}
.card-title-socios {
    color: red;
}
.card-body-socios {
    display: flex;
}

.tecnologias__logo {
    padding: 30px;
    height: 200px;
    width: 220px;
}
